<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; font-family: calibri, sans-serif;padding:10px 20px;">
	<header>
        <div style="height: 70px; background: #fff !important; text-align: left;">
            <img src="cid:@ViewBag.ImageHeader" />
        </div>
    </header>    
    <br/>
				<table style="border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;">Dear <b>@ViewBag.ShipperName (Shipper),</b></td></tr>
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">
				Please note the Shipment Reference No# @ViewBag.ShipmentOrderNo has been attempted to be cancelled. 
				   While @ViewBag.KindRegards will do its best to cancel the shipment, we may not be able to. 
				   Please await our team to confirm the shipment can be cancelled. If it can not be cancelled, you will be charged for the shipment.
				   </td></tr>
                   </table>
				   <br/>
				     <table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@ViewBag.UserName</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@ViewBag.UserPosition</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>@ViewBag.KindRegards</b></td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>MEX Logistics Ltd.</b></td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Email:</b>&nbsp;@ViewBag.UserEmail</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Phone:</b>&nbsp;@ViewBag.UserPhone</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><a href="@Model.SiteAddress">@Model.SiteAddress</a></td></tr>
            </table>
        <br/>
		<footer>
        <table style="border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;font-size:12px;">MEX Logistics Ltd. All rights reserved.</td></tr>
        </table>
		</footer>
</body>
</html>