<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; font-family: calibri, sans-serif;padding:10px 20px;">
    <header>
         <div style="height: 70px; background: #fff !important; text-align: left;">
            <img src="cid:@ViewBag.ImageHeader" />
        </div>
    </header>
    <br/>
				<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Dear <b>@ViewBag.CustomerName,</b></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">We are pleased to inform you that the following Shipment has been booked. See Shipment Summary below.</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>FRAYTE Reference No#:</b> @ViewBag.FrayteNumber </td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Shipping Service:</b> @ViewBag.ShipmentMethod</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Tracking No#:</b> <a href="@ViewBag.TrackingURL">@ViewBag.TrackingNo</a></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><a href="@ViewBag.TrackingURL"><img src="cid:@ViewBag.TrackButton" style="width: 150px;"></a></td></tr>	
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><i>Please print out the AWB on A4 Paper. Attach 3 copies of the Commercial Invoice (for International Shipments only).</i></td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><i>Print out the Shipments Labels on a Label printer.</i></td></tr>
				</table>
            <br />
            <table style="border: 1px solid #ddd;width:100%;border-spacing: 0px;">
                <tr style="border-bottom: 1px solid #ddd; background: #f7f7f7;">
                    <td style="padding: 10px;border-bottom: 1px solid #ddd;font-family: calibri, sans-serif;">
                        <b>Collection Address (Shipper) Details</b><br>
                    </td>
                </tr>
					<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
					<tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipFrom.FirstName @Model.ShipFrom.LastName</td></tr>				
					<tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipFrom.Address</td></tr>
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipFrom.Address2</td></tr>                   
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipFrom.City</td></tr>
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipFrom.State</td></tr>
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipFrom.PostCode</td></tr>
					<tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipFrom.Country.Name</td></tr>             
					<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
            </table>
            <br />
            <br />
            <table style="border: 1px solid #ddd;width:100%;border-spacing: 0px;">
                <tr style="border-bottom: 1px solid #ddd; background: #f7f7f7;">
                    <td style="padding: 10px;border-bottom: 1px solid #ddd;font-family: calibri, sans-serif;">
                        <b>Delivery Address (Consignee) Details</b><br>
                    </td>
                </tr>
					<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipTo.FirstName @Model.ShipTo.LastName</td></tr>					
					<tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipTo.Address</td></tr>
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipTo.Address2</td></tr>
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipTo.City</td></tr>
					<tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipTo.State</td></tr>
                    <tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipTo.PostCode</td></tr>
					<tr><td style="padding: 3px 10px;font-family: calibri, sans-serif;">@Model.ShipTo.Country.Name</td></tr>                
					<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
            </table>
            <br />
            <table style="border-spacing: 0px;">
			  <tr><td style="font-family: calibri, sans-serif;"><b>Total CTNs:</b> @Model.Packages.Count</td></tr>
			  <tr><td style="font-family: calibri, sans-serif;"><b>Estimated Chargeable Weight<span style="color:red">*</span>:</b> @ViewBag.TotalWeight<b>&nbsp;@ViewBag.WeightUnit</b></td></tr>
			  <tr><td style="font-family: calibri, sans-serif;"><b>Note<span style="color:red">*</span>:</b> Total estimated charges may vary depending on actual billable weight.</td></tr>
            </table>
            <br />
			<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@ViewBag.UserName</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@ViewBag.UserPosition</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>FRAYTE GLOBAL (UK) CO. LTD.</b></td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Email:</b>&nbsp;@ViewBag.UserEmail</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Phone:</b>&nbsp;@ViewBag.UserPhone</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><a href="@ViewBag.SiteAddress">@ViewBag.SiteAddress</a></td></tr>
            </table>
<br/>
	<footer>
        <table style="border-spacing: 0px;">
            <tr><td style="font-size: 12px;font-family: calibri, sans-serif;">FRAYTE GLOBAL (UK) CO. LTD. All rights reserved.</td></tr>
        </table>
    </footer>
</body>
</html>

