<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; background: #fff; padding:10px 20px;">
    <header>
        <div style="height: 70px; background: #fff !important; text-align: left;">
            <img src="cid:@ViewBag.ImageHeader" />
        </div>
    </header>
	<br/>
					<table style="border-spacing: 0px;">
						<tr><td style="font-family: 'Calibri', Arial, sans-serif;">Dear <b>@Model.CustomerName,</b></td></tr>
						<tr><td style="font-family: 'Calibri', Arial, sans-serif;">&nbsp;</td></tr>
						<tr><td style="font-family: 'Calibri', Arial, sans-serif;">On behalf of Frayte Logistics, please see the below quotation for [@Model.CompanyName].</td></tr>
				  </table>
          
                <table width="100%" style="border-spacing: 0px;">
				  <tr>
					<th style="border-left:1px solid #ddd;background:#c0c0c0;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;"><b>Quote Ref:</b></th>
					<th style="border-right:1px solid #ddd;background:#c0c0c0;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;"><b>@Model.QuoteNo</b></th>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd; font-family: 'Calibri', Arial, sans-serif;">Pick-up Country</td>
					<td style="border-right:1px solid #ddd;border-top:1px solid #ddd; font-family: 'Calibri', Arial, sans-serif;">@Model.FromCountry</td>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-bottom:2px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd; font-family: 'Calibri', Arial, sans-serif;">Destination Country</td>
					<td style="border-right:1px solid #ddd;border-bottom:2px solid #ddd;border-top:1px solid #ddd; font-family: 'Calibri', Arial, sans-serif;">@Model.ToCountry</td>
				  </tr>
				  <tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"></td>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">Carrier</td>
					<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">@Model.Carrier</td>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">Approx. CWT</td>
					<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">@Model.Weight</td>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-bottom:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;" colspan="2"><b>If the actual CWT is higher than initially quoted, billing will be per attached rate card.</b></td>
				  </tr>
				   <tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"></td>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-bottom:2px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">Est. Transit Time</td>
					<td style="border-right:1px solid #ddd;border-bottom:2px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">@Model.TransitTime</td>
				  </tr>
				  <tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"></td>
				  </tr>
				   <tr>
					<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">Rate (Excl. Fuel)</td>
					<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">@Model.PriceValue @Model.Rate</td>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">Surcharges</td>
					<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">@Model.PriceValue @Model.AddOnRate</td>
				  </tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;"><b>Fuel Surcharge</b></td>
					<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">@Model.PriceValue @Model.FuelSurcharge (@Model.FuelPercent%) [@Model.FuelMonth]</td>
				  </tr>
				  <tr>
					<td style="border-left:2px solid #ddd;border-bottom:2px solid #ddd;background:#c0c0c0;border-right:1px solid #ddd;border-top:2px solid #ddd;font-family: 'Calibri', Arial, sans-serif;"><b>Total Estimated Charges*</b></td>
					<td style="border-right:2px solid #ddd;border-bottom:2px solid #ddd;border-top:2px solid #ddd;font-family: 'Calibri', Arial, sans-serif;"><b>@Model.PriceValue @Model.TotalPrice</b></td>
				  </tr>
				  <tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"></td>
				  </tr>
				  <tr>
					<td colspan="2" style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:2px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">(*excluding import duties/taxes or any other possible additional charges)</td></tr>
				  <tr>
					<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">Valid Until:</td>
					<td style="border-top:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">@Model.Validity (@Model.ValidDate)</td>
				  </tr>
                </table>
				<br /><br />
				
				<table width="100%" style="margin-left:15px;padding-left:15px;border-spacing: 0px;">
					<tr><td style="font-family: 'Calibri', Arial, sans-serif;"><b>Additional Information:</b> this is based on the following:</td></tr>
					<tr>
						<td style="font-family: 'Calibri', Arial, sans-serif;">1. Out of remote area (as cost).</td>
					</tr>
					<tr>
						<td style="font-family: 'Calibri', Arial, sans-serif;">2. Shipment being stackable or an additional surcharge will be charged.</td>
					</tr>
					<tr>
						<td style="font-family: 'Calibri', Arial, sans-serif;">3. Shipment being declared as Non Hazardous or an additional surcharge will be charged.</td>
					</tr>
					<tr>
						<td style="font-family: 'Calibri', Arial, sans-serif;">4. Shipment charges will be based on volumetric weight (as per carrier restrictions) or gross weight, whichever is greater.</td>
					</tr>
					<tr>
						<td style="font-family: 'Calibri', Arial, sans-serif;">5. Should the dimensions be measured differently on receipt of the cargo the quotation would be made pro-rata.</td>
					</tr>
				</table>
				<br/><br />
				@if(@Model.OperationZoneId == 2)
				{
					if(@Model.LogisticType == "DHL")
					{
						<table width="100%" style="border-spacing: 0px;">
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">
									Please review the below tables to determine whether the shipment is liable to any additional charges, should you not have these they are available on request:
								</td>
							</tr>
						</table>
						<br /><br />
						<table width="100%" style="border-spacing: 0px;">
							<tr>
								<th style="border-left:1px solid #ddd;background:#c0c0c0;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Description</th>
								<th style="border-right:1px solid #ddd;background:#c0c0c0;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Surcharge</th>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Remote Area Services</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 0.35 per kg, subject to a minimum change of GBP 17.50 per shipment</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Dangerous Goods in Excepted Quantities</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 4.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Limited Quantities By Road</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 16.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Full Dangerous Goods</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 64.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Dry Ice (UN1845)</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 8.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Lithium Batteries Section II (PI966, PI969)</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 4.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Lithium Batteries Section II (PI967, PI970)</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">No charge</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Lithium Batteries Section IB, II (PI965)</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 64.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Biological Substances (UN3373)</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">No charge</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Oversized Piece</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 70.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Non-Stackable Pallet</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 130.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Address Correction</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 9.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Data Entry</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 2.50</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Elevated Risk</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 15.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Restricted Destination</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 22.00</td>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Exporter Validation</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 22.00</td>
							</tr>
						</table>
						<br /><br />
						<table style="border-spacing: 0px;">
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">The following surcharges are payable on domestic shipments, when different to those above:</td>
							</tr>
						</table>
						<br /><br />
						<table width="100%" style="border-spacing: 0px;">
							<tr>
								<th style="border-left:1px solid #ddd;background:#c0c0c0;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Description</th>
								<th style="border-right:1px solid #ddd;background:#c0c0c0;border-top:1px solid #ddd;text-align:left;font-family: 'Calibri', Arial, sans-serif;">Surcharge</th>
							</tr>
							<tr>
								<td style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;text-align:left;border-bottom:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">Address Correction</td>
								<td style="border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-family: 'Calibri', Arial, sans-serif;">GBP 4.50</td>
							</tr>
							</table>
					}
					else if(@Model.LogisticType == "TNT")
					{
						<table  style="border-spacing: 0px;">
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;"><b>TNT Security Surcharge</b></td>
							</tr>
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">&nbsp;</td>
							</tr>
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">
									On all international Express, Economy Express and Special Express shipments the surcharge is levied at a rate of GBP 0.03 per kilo, subject to a minimum of GBP 0.50
									and maximum GBP 10.00 per shipment. A surcharge is levied at a rate of GBP 0.09 per kilo for airfreight shipments with the minimum surcharge being based on a
									weight of 100kg. No maximum charged weight exists.
								</td>
							</tr>
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">&nbsp;</td>
							</tr>
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">Please note that any options and costs provided are generated by FRAYTE GLOBAL acting on your behalf as a forwarding agent. FRAYTE GLOBAL always recommends that dedicated cargo insurance is in place prior to shipping.</td>
							</tr>
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">&nbsp;</td>
							</tr>
							<tr>
								<td style="font-family: 'Calibri', Arial, sans-serif;">
									This Quotation will be deemed invalid after this shipment has been processed.  Any foreign currency conversions have been undertaken using current exchange rates and thus local currency charges are subject to change.  The rates indicated do not include taxes and or customs duties required, these may be quoted as additions if necessary.  All quotations are based on current fuel costs and rates of exchange, and may be subject to withdrawal or amendment without prior notice. Any dispute arising out of any act or contract with these terms shall be subject to the jurisdiction of the UK courts.  The customer agrees to make full payment within the agreed Terms. All business is conducted in accordance with our terms and conditions, copy available upon request.
								</td>
							</tr>
						</table>
					
					}
				}
				else if(@Model.OperationZoneId == 1)
				{
					if(@Model.LogisticType == "DHL")
					{
					<table  style="border-spacing: 0px;">
						<tr>
							<td style="font-family: 'Calibri', Arial, sans-serif;">
									Please review attached 2018 – DHL (HK) Supplementary Services and Surcharges PDF to determine whether the shipment is liable to any additional charges, should you not have these they are available on request.
							</td>
						</tr>
						</table>
					}
				}
			<br /><br />
            <table style="border-spacing: 0px;">
                <tr>
                    <td style="font-family: 'Calibri', Arial, sans-serif;"><b>Thank you for the opportunity to quote this shipment.</b></td>
                </tr>
                <tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;">Any feedback or questions please don’t hesitate to contact us.</td>
				</tr>
            </table>

			<br /><br />
            <table style="border-spacing: 0px;">
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;">Kind Regards,</td>
				</tr>
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;">&nbsp;</td>
				</tr>
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"><b>@Model.SenderName</b></td>
				</tr>
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"><b>@Model.DeptName</b></td>
				</tr>
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"><b>FRAYTE GLOBAL</b></td>
				</tr>
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"><a href="@Model.SiteAddress" target="_blank">@Model.SiteAddress</a></td>
				</tr>
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"><b>Phone:</b> @Model.PhoneNo</td>
				</tr>
				<tr>
					<td style="font-family: 'Calibri', Arial, sans-serif;"><b>Email:</b> @Model.SenderEmail</td>
				</tr>
            </table>
					<br/>
	 <footer>
        <table style="border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;font-size: 12px;">FRAYTE GLOBAL All rights reserved.</td></tr>
        </table>
    </footer>
</body>
</html>