<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; background: #fff; font-family: calibri, sans-serif;padding:10px 20px;">
    <header>
         <div style="height: 70px; background: #fff !important; text-align: left;">
            <img src="cid:@ViewBag.ImageHeader" />
        </div>
    </header>
		<br/>
		<table style="border-spacing: 0px;">
			<tr><td style="font-family: calibri, sans-serif;">Dear <b>@Model.CustomerName,</b></td></tr>
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
            <tr><td  style="font-family: calibri, sans-serif;">Please find the created AWB shipment summary detail for 15-Dec-2018</td></tr>  
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			<tr><td style="font-family: calibri, sans-serif;"><b>FRAYTE Reference No#:</b> @Model.ShipmentDetail.ShipmentReference</td></tr>
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
		    <tr><td style="font-family: calibri, sans-serif;"><b>Shipping Service:</b> @Model.ShipmentDetail.Service.HubCarrier</td></tr>
		    <tr><td style="font-family: calibri, sans-serif;"><b>Tracking No#:</b> <a href="@ViewBag.TrackingURL">@Model.ShipmentDetail.TrackingNumber</a></td></tr>
		    <tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
		    <tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr> 
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
			<br />
            <table style="border-spacing: 0px;">
					<tr><td style="font-family: calibri, sans-serif;"><b>Collection Address (Shipper) Details</b></td></tr>
				    <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipFrom.FirstName @Model.ShipmentDetail.ShipFrom.LastName</td></tr>					
                    <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipFrom.Address</td></tr>
                    <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipFrom.Address2</td></tr>                   
                    <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipFrom.City</td></tr>
                    <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipFrom.State</td></tr>
                    <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipFrom.PostCode</td></tr>
					<tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipFrom.Country.Name</td></tr>                   
            </table>
            <br />
            <table style="border-spacing: 0px;">
                <tr><td style="font-family: calibri, sans-serif;"><b>Delivery Address (Consignee) Details</b></td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipTo.FirstName @Model.ShipmentDetail.ShipTo.LastName</td></tr>					
                <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipTo.Address</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipTo.Address2</td></tr>                   
                <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipTo.City</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipTo.State</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipTo.PostCode</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">@Model.ShipmentDetail.ShipTo.Country.Name</td></tr> 
            </table>
            <br />
			<table style="border-spacing: 0px;">
			  <tr><td style="font-family: calibri, sans-serif;"><b>Total Cartons:</b> @Model.TotalCarton</td></tr>
			  <tr><td style="font-family: calibri, sans-serif;"><b>Estimated Weight*:</b> @Model.TotalWeight <span>kgs</span></td></tr>
			  <tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			  <tr><td style="font-family: calibri, sans-serif;"><b>Note*:</b> Actual weight may differ to the estimated weight, therefor total estimated charges may vary depending on actual billable weight.</td></tr>
			</table>
			<br />
			<table style="font-size:12px;border-spacing: 0px;">
			<tr><td style="font-family: calibri, sans-serif;"><span style="text-decoration:underline"><b>What do I do next?</b></span></td></tr>
			<tr><td style="font-size:12px;font-family: calibri, sans-serif;">
			<ul style="list-style:upper-alpha;">
				<li>If you are sending documents please print all pages of the shipment label(s) and attach to the shipment securely.</li>
				<li>If you are sending non-documents:</li>
			</ul>
			<ul style="list-style-type:circle;padding-left:70px;">
				<li>Print all pages of the shipment label(s) and attach to each carton if you are sending more than one.</li>
				<li>Three copies of the commercial invoice - these can be given to the driver or placed within a document wallet and attached to your shipment (originating or destined outside of the EU only).</li>
			</ul>
			</td></tr>
			<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>	 			
				<tr><td style="font-family: calibri, sans-serif;"><span style="text-decoration:underline"><b>Have a question?</b></span></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">For assistance please contact our Customer Service team at @ViewBag.UserPhone.</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
			<br/>
			 <table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
                <tr><td style="font-family: calibri, sans-serif;">@Model.StaffUserName</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>@Model.UserPosition</b></td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>FRAYTE GLOBAL</b></td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Email:</b>&nbsp;@Model.StaffUserEmail</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><b>Phone:</b>&nbsp;@Model.UserPhone</td></tr>
                <tr><td style="font-family: calibri, sans-serif;"><a href="@Model.SiteAddress">@Model.SiteAddress</a></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;font-size: 10px;">
				<b>Disclaimer:</b> This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify us. 
				Any views or opinions presented in this email are solely those of the author and do not necessarily represent those of FRAYTE GLOBAL
				Warning: Although FRAYTE GLOBAL has taken reasonable precautions to ensure no viruses are present in this email, the company cannot accept responsibility for any loss or damage arising from the use of this email or attachments.
				</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
	<br/>
    <footer>
        <table style="font-size: 12px;border-spacing: 0px;">
            <tr><td style="font-family: calibri, sans-serif;">FRAYTE GLOBAL All rights reserved.</td></tr>
			</table>
    </footer>
	
</body>
</html>