<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="margin: 0; padding: 0; background: #eaf0f5; border: 1px solid #ddd; font-family: calibri, sans-serif;">
    <header>
        <div style="height: 70px; background: #fff !important; box-shadow: 0px 1px 4px -2px; padding: 0 30px; text-align: left;">
            <img src="cid:@Model.ImageHeader" style="width: 150px; padding: 20px 0px;" />
        </div>
    </header>
    <div style="background: #fff; margin: 30px 20px; padding: 0 20px; border: 1px solid #ddd; font-size: 14px;">
        <div style="text-align: center">
            <h3>Customer Confirmation Email (E.1)</h3>
        </div>
        <div style="margin: 30px 0;">
            <p>Dear @Model.ClientName</p>
            <p><b>Date:</b> @Model.MailDateTime.ToString("dd/MM/yyyy hh:mm") - @Model.TimeZoneName</p>
            <p>We are pleased to advise you the following shipment has been booked. See summary below.</p>
            <p><b>Shipment Method: </b>@Model.ShipmentMethod</p>
            <div>
                <b>Shipping Order Number:</b> @Model.ShipmentId<br />
                <b>Shipper Name:</b> @Model.ShipperName<br />
                <b>Your Purchase Order No:</b> @Model.PurchaseOrderNumber<br />
                <b>Consignee Name:</b> @Model.ReceiverName
            </div>
            <br />
            <div style="border: 1px solid #ddd;">
                <div style="border-bottom: 1px solid #ddd; background: #f7f7f7;">
                    <div style="padding: 10px;">
                        <b>Pick Up Address:</b><br>
                    </div>
                </div>
                <div style="line-height: 20px; padding: 10px;">
                    <div>@Model.PAddress </div>
                    <div>@Model.PAddress2</div>
                    <div>@Model.PAddress3</div>
                    <div>@Model.PCity</div>
                    <div>@Model.PState</div>
                    <div>@Model.PCountry</div>
                    <div>@Model.PZip</div>
                </div>
            </div>
            <br />
            <br />
            <div style="border: 1px solid #ddd;">
                <div style="border-bottom: 1px solid #ddd; background: #f7f7f7;">
                    <div style="padding: 10px;">
                        <b>Consignee Address:</b><br>
                    </div>
                </div>
                <div style="line-height: 20px; padding: 10px;">
                    <div>@Model.RAddress </div>
                    <div>@Model.RAddress2</div>
                    <div>@Model.RAddress3</div>
                    <div>@Model.RCity</div>
                    <div>@Model.RState</div>
                    <div>@Model.RCountry</div>
                    <div>@Model.RZip</div>
                </div>
            </div>
            <br />
            <div>
                <b>Total CTNs:</b> @Model.TotalCTNs<br />
                <b>Approx. Total Weight:</b> @Model.TotalWeight<b>&nbsp;kgs</b>
            </div>
            <br />
            <p>Please click Confirm if it is ok to proceed with this shipment or Amend to make any changes.</p>

            <p>
                <a href="@Model.HostUrl/index.html#/public/customer-action/c/@Model.CustomerConfirmCode" style="color:#fff;background:#5cb85c;display: inline-block;padding: 6px 12px;border-radius: 3px;text-decoration:none;">Confirm </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Model.HostUrl/index.html#/home/shipment/@Model.ShipmentId/@Model.CustomerRole/addressdetail" style="color:#fff;background:#e68545;display: inline-block;padding: 6px 12px;border-radius: 3px;text-decoration:none;">Amend</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Model.HostUrl/index.html#/public/customer-action/r/@Model.CustomerConfirmCode" style="color:#fff;background:#d9534f;display: inline-block;padding: 6px 12px;border-radius: 3px;text-decoration:none;">Reject</a>
            </p>

            Kind Regards.
            <br />
            <br />
            <div>
                @Model.UserName<br />
                @Model.UserPosition<br />
                <b>FRAYTE Logistics Ltd</b><br />
                <b>Email:</b>&nbsp;@Model.UserEmail<br />
                <b>Phone:</b>&nbsp;@Model.UserPhone<br />
                <b>Skype:</b>&nbsp;@Model.UserSkype<br />
                <b>Fax:</b>&nbsp;@Model.UserFax<br />
                <a href="www.FRAYTE.com">www.FRAYTE.com</a>
            </div>
        </div>
    </div>
    <footer>
        <div style="height: 50px; border: 1px solid #ddd; background: #dce5ec !important; font-size: 12px; text-align: left; padding: 25px 30px;">
            <p>FRAYTE GLOBAL All rights reserved.</p>
        </div>
    </footer>
</body>
</html>


@*TITLE OF EMAIL = Client Confirmation Email (E.1)
    When to send: After the shipper has confirmed his booking requirements.
    To: ''Customer Email''
    CC: ''User Email''+ ''User manager email''
    BCC: booking@frayte.com
    Reply To: ''User Email''+ booking@frayte.com
    Attachment: Nil
    Subject: Request for Booking Confirmation - ''Shipping Order Number''-  FRAYTE Logistics Ltd

    Dear ''Client Name''

    Date: ''DD/MM/YYYY (HH:MM)'- Time Zone'

    We are pleased to advise you the following shipment has been booked. See summary below.

    Shipment Method: ''Shipment Method”

    Shipping Order Number: ''Auto Generated Number''
    Shipper Name: “Shipper Name''
    Your Purchase Order No: “Purchase Order No”
    Consignee Name: “Consignee Name”

    Pick Up Address:
        Address
        Address
        City
        State / Province
    Country
    Zip / Post code

    Consignee Address:
        Address
        Address
        City
        State / Province
    Country
    Zip / Post code

    Total CTNs: ''Total CTNs''
    Approx. Total Weight: ''Weight'' kgs

    Please click Confirm if it is ok to proceed with this shipment or Amend to make any changes.

    Kind Regards.

    ''User Name''
    ''User Position''
    FRAYTE Logistics Ltd
    Email: ''user email''
    Phone: ''user phone number''
    Skype: ''user Skype''
    Fax:  ''user fax''
    www.FRAYTE.com*@
